body{
  background-image: linear-gradient(#F4F9F9, #CCF2F4, #488FB1);
  margin: 0;
  text-align: center;
}
.menu{
  height:50px;
}
main{
  margin: 60px;
}
.intro{
  margin-bottom: 10px;
}
.intro-img{
  background-size: 100% 100% !important;
  background-position: center !important;
  height: 500px;
  width: 50%;
}
.img{
  width: 35%;
  height: 200px;
}
.testtable{
}
.testtable1{
  width: 100%;
  font-size: 20px;
}
.tbl-menu{
  border-left: 2px dotted;
  border-right: 2px dotted;
}
.ttl{
  margin-bottom: 10px;
}
.cont{
  margin: 0;
}
.info-team{
  padding: 20px;
  margin: auto;
  width: 1000px;
}
.tf{
  padding-top: 20px;
  height: 250px;
}
.team{
  display: inline-block;
}
.info-train{
  padding: 20px;
  margin: auto;
  width: 1000px;
}
.quote{
  margin-top: 0;
}
.right{
  float: right;
  margin-left: 10px;
}
.left{
  float: left;
  margin-right: 10px;
}
.infor-active{
  padding: 20px;
  width: 1000px;
  margin: auto;
}
.tf-list{
  max-width: 33%;
  display: inline-block;
}
.list-image{
  max-width: 100%;
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
}
.list-box{
  width: 330px;
}
.tf-train{
  padding:20px 0 20px;
}
.train{
  margin: auto;
  max-width: 100%;
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
}
